@model IEnumerable<LemonLime.DTOs.Tag.TagResponse>

@{
    ViewData["Title"] = "Index";
}

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">
        @TempData["ErrorMessage"]
    </div>
}

<div class="container mt-4">
    <div class="row mb-4">
        @Html.Partial("Sidebar")
        <div class="col-md-9">
            <h1 class="d-flex justify-content-between align-items-center">
                Tags
                <div class="d-flex align-items-center">
                    <a asp-action="Create" class="btn btn-primary d-flex align-items-center">
                        <i class="fas fa-plus-circle me-2"></i>
                        Create New Tag
                    </a>
                </div>
            </h1>
            <br>
            <table class="table table-hover table-borderless table-striped rounded-3 mt-3">
                <thead class="thead-dark">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.CreatedTime)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.UpdatedTime)
                        </th>
                        <th class="text-center">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CreatedTime)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.UpdatedTime)
                            </td>
                            <td class="text-center">
                                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning btn-sm rounded-circle" title="Edit">
                                    <i class="fas fa-edit"></i>
                                </a>
                                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info btn-sm rounded-circle" title="Details">
                                    <i class="fas fa-info-circle"></i>
                                </a>
                                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger btn-sm rounded-circle" title="Delete">
                                    <i class="fas fa-trash-alt"></i>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

        </div>
    </div>
</div>

@section Scripts {
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
}
