@model IEnumerable<LemonLime.DTOs.User.UserDetailsResponse>

@{
    ViewData["Title"] = "Users";
}

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">
        @TempData["ErrorMessage"]
    </div>
}

<div class="container mt-4">
    <div class="row mb-4">
        @Html.Partial("Sidebar")
        <div class="col-md-9">
            <h1 class="d-flex justify-content-between align-items-center">
                Users
            </h1>
            <br>
            <table class="table table-hover table-borderless table-striped rounded-3 mt-3">
                <thead class="thead-dark">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.ProfilePicture)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Username)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Email)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Role)
                        </th>
                        <th class="text-center">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                <img src="@item.ProfilePicture" alt="@item.Username's Profile Picture" class="img-thumbnail" style="width: 50px; height: 50px;" />
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Username)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Email)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Role)
                            </td>
                            <td class="text-center">
                                <a asp-action="GetRecipesByUserId" asp-controller="Recipes" asp-route-userId="@item.Id" class="btn btn-warning btn-sm rounded-circle" title="Recipes">
                                    <i class="fas fa-utensils"></i>
                                </a>
                                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info btn-sm rounded-circle" title="Details">
                                    <i class="fas fa-info-circle"></i>
                                </a>
                                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger btn-sm rounded-circle" title="Delete">
                                    <i class="fas fa-trash-alt"></i>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@section Scripts {
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
}
